{% extends "bootstrap/base.html" %}

{% block head %}
{{super()}}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block scripts %}
{{super()}}
<script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.4.0/holder.js"></script>
{% endblock %}

{% block title %}
You haven't authorised Flickr yet!
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">

    <div class="col-xs-offset-3 col-md-offset-3 col-xs-6 col-md-6">

<div class="jumbotron">
  <h1>Hello!</h1>
  <p>You haven't yet given favr3 permission to access your Flickr account. </p>
  You can either: 
<ul>
    <li>connect<sup>1</sup> favr3 with your Flickr account and go to your own favourites</li> or
    <li>proceed without connecting and start exploring from a random<sup>2</sup> user's Flickr favourites</li>
</ul>
</p>
  <p><a href="{{ url_for('auth') }}" class="btn btn-primary btn-lg" role="button">connect to Flickr</a></p>
  <p><a href="{{ url_for('publicfaves') }}" class="btn btn-primary btn-lg" role="button">don't connect, see a random Flickr user</a></p>
</div>
<p><sup>1</sup>Connecting requires you to give permission for this app (favr3) to read your Flickr account. It won't upload, delete or modify any of your Flickr content, and you can withdraw permission at any time in your Flickr account settings.</p>
<p><sup>2</sup>for a small value of "random"</p>
<small>This app is in no way affiliated to Flickr, in case you were wondering. It also uses a cookie to remember you, if you choose to authorise favr3.</small>
    </div>
  </div>
</div>


{% endblock %}
