{% extends "bootstrap/base.html" %}

{% block head %}
<!--some random shit-->
{{super()}}
{% endblock %}
{% block scripts %}
{{super()}}
<script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.4.0/holder.js"></script>
{% endblock %}

{% block title %}
    This is an example page
{% endblock %}

{% block content %}
<title>FAVR3</title>
{% if user_id %}
  <h1>{{ username }}'s favourites on Flickr</h1>
{% else %}
  <h1>Hello World!</h1>
{% endif %}

<div class="container-fluid">
  <div class="row">

    <div class="col-xs-12 col-md-6">

        {% for photo in faves.photos.photo %}
        <div class="col-xs-6 col-md-3">
          <a href="https://www.flickr.com/photos/{{photo.owner}}/{{photo.id}} ">view on flickr</a>
          <a href="{{ url_for('faves', user_id=photo.owner) }}?page=1" class="thumbnail" style="height:250px;">
<!--            <img data-src="holder.js/150x150" title="{{ photo.title }} by {{ photo.owner }}" alt="{{ photo.title }} by {{ photo.owner }}">-->
            <img src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_m.jpg" title="{{ photo.title }} by {{ photo.ownername }}" alt="{{ photo.title }} by {{ photo.ownername }}">
          </a>
        </div>
        {% endfor %}

        <ul class="pagination">
          <li><a href="{{url_for('faves', user_id=user_id)}}?page=1">&laquo;</a></li>

          {% for p in range(1, faves.photos.pages+1) %}
            <li {%if p|int == request.args.get('page')|int%}class="active"{%endif%}><a href="{{url_for('faves', user_id=user_id)}}?page={{p}}">{{ p }}</a></li>
          {% endfor %}

          <li><a href="{{url_for('faves', user_id=user_id)}}?page={{faves.photos.pages}}">&raquo;</a></li>
        </ul>

    </div>

  </div>
</div>


{% endblock %}
